@define-color fg_primary #eeeeee;
@define-color fg_alt #555555;
@define-color bg_primary #1f1f1f;
@define-color bg_alt #3f3f3f;
@define-color highlight #fba922;

@define-color gradient_ok #55aa55;
@define-color gradient_warn #5fa70a;
@define-color gradient_bad #ff5555;

* {
	font-family: "FiraCode Nerd Font", monospace;
	font-size: 14px;
	border-radius: 0;
	border: none;
}

window#waybar {
	background-color: @bg_primary;
	color: @fg_primary;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.top {
	border-radius: 0 0 16px 16px;
}

window#waybar.bottom {
	border-radius: 16px 16px 0 0;
}

window#waybar.hidden {
	opacity: 0.2;
}

.modules-left {
	padding: 0 0 0 24px;
}

.modules-right {
	padding: 0 24px 0 0;
}

#workspaces button {
	padding: 0 4px;
	margin: 0 4px;
	background-color: transparent;
}

#workspaces button.focused {
	background-color: @bg_alt;
	border-bottom: 3px solid @highlight;
}

#workspaces button.urgent {
	background-color: @highlight;
	color: #000000;
}

#clock,
#network,
#pulseaudio,
#language,
#memory,
#cpu,
#battery {
	padding: 0 4px;
	margin: 0 4px;
}
